footer
{
    width:100%;
    min-height:250px;
    background-color: #ff01af;
    color:#fff !important;
    padding-top:30px;
    font-size:12px;

}

.footerContent
{   

width:90%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
.firstLineFooter
{    
min-height:40%;
width:100%;


}

 .firstLineFooter:after {
        content:'';
        display:block;
        clear:both;
      }
.firstLineElement
{    

    
width:23%;
float:left;
border-right: #fff 2px solid;
padding:3px;
line-height: 100%;
height:100%;
}
.firstLineElement:last-child
{
    border-right: none;
  
}

.secondLineFooter
{
    width:100%;
    margin-top:120px;
}
.secondLineFooter:after {
    content:'';
    display:block;
    clear:both;
  }
.leftFirstLine img
{
    width:70%;
    margin:5px;

   

}
.leftFirstLine:last-child>img{
   width:20%;
}
.firstLineElement span{
    height:100%;
    flex-direction: row;

}
.lastChildFirstLine{
    display: flex;
    
}
.lastChildFirstLine img{
    width:20%;
    margin:10px;
}
.leftFirstLine
{
    text-align: left;
    width:30%;
    float:left;
}

.rightFirstLine
{
    width:70%;
    display: table-cell;
    vertical-align: middle;
}
.secondLineElement
{
  width:25%;
  float:left;
}
.secondLineElement:first-child
{
width:50%; 
}




.footerelement{
float:left;
width:23%;
height:150px;
border-right:2px white solid;
font-size:15px;
padding-left: 20px;

}
.footerelement a
{text-decoration: none;
    color:#fff;
    line-height: 50px;
    padding-left:15px;
    font-size:16px;
    vertical-align: middle;
}
.footerelement a:hover
{
    color:#f391d4;
}

.footerelement:last-child{
border-right: none;
}

.newFooter:after {
    content:'';
    display:block;
    clear:both;
  }


@media (max-width: 750px) {

    .footerelement{
        width:100%;
        float:none;
        border:none;
        padding-bottom: 30px;
        padding-left: 20px;;
    }

    .rightFirstLine
    {
        width:100%;
        
    }
    .firstLineElement {
        width:100%;
        border:none;
        color:white;
    }
    .firstLineElement>h3
    {
        font-size:30px;
        color:white !important;
    }
    .footerContent h3
    {
        color:white !important;
    }
    .secondLineElement 
    {
        width:100%;
        margin-bottom: 14px;
        margin-left:20px;


    }
    .secondLineFooter
    {
        width:100%;
    }
    .secondLineElement:first-child
    {
        width:100% !important;
    }
.footerContent
{
    width:100%;
}
.leftFirstLine img {
width:40%;
}
.lastChildFirstLine img {
    width:15%;
    margin-left:10%;
}

  }