
.bgButtons
{
display:inline-block;
text-align: center;
}
.bgButtons button
{
    background-color: transparent;
    border:none;
    color:#ff01af;
    border-bottom: #ff01af 3px solid; 
    margin-right:10px;
    font-size:20px;


}
.bgButtons button:hover
{
    background-color: transparent;
    border:none;
    border-bottom: rgb(113, 113, 113) 2px solid; 
    cursor: pointer;
    color:rgb(113, 113, 113)

}
.buttonsAll{
   margin-top:10%;
    margin-left: 10%;
    
}

.actualUpdate{
    width:100%;
    padding-top:30px;


}
.actualUpdate span{
width:49%;
height:30px;
font-size:25px;
display:inline-block;
}
.actualUpdate span:last-child
{
    border:#ff01af 3px solid;
    color:#ff01af;
    border-radius:10px;
    text-align:center;
    padding:20px 0px 20px 0px;

}

.actualUpdate span:last-child:hover{

    color:#fff;
    background-color: #ff01af;
    transition: 1s;
    cursor: pointer;
}


.showBgImg{

    width:90%;
height:350px;
margin-left: auto;
margin-right: auto;
}

.leftArrowBg{
    position:absolute;
    height:70%;
    width:25%;
left:0;
float:left;

}
.rightArrowBg{
position:absolute;
height:70%;
width:25%;
right:0;
float:right;
    
}
.rightArrowBg:hover{
    cursor: pointer;
}
.leftArrowBg:hover{
    cursor: pointer;
}
.bgimage
{
    width:100%;
    height:100%;
    object-fit: cover;
   position:relative;
   display: block;
   float:left;

   right:auto;
   left:auto;

}
.showBgImg:after {
    content:'';
    display:block;
    clear:both;
  }