
.bgButtons
{
display:inline-block;
text-align: center;
}
.bgButtons button
{
    background-color: transparent;
    border:none;
    color:#ff01af;
    border-bottom: #ff01af 3px solid; 
    margin-right:10px;
    font-size:20px;


}
.bgButtons button:hover
{
    background-color: transparent;
    border:none;
    border-bottom: rgb(113, 113, 113) 2px solid; 
    cursor: pointer;
    color:rgb(113, 113, 113)

}
.buttonsAll{
   margin-top:10%;
    margin-left: 10%;
    float:left;
    
}

.actualUpdate{
    width:50%;
    padding-top:30px;
    float:left;


}
.actualUpdate span{
width:100%;
height:auto !important;
font-size:25px;
display:block;

}
.actualUpdate span:last-child
{
    border:#ff01af 3px solid;
    color:#ff01af;
    border-radius:10px;
    text-align:center;
    padding:20px 0px 20px 0px;
    margin-top:13px;

}

.actualUpdate span:last-child:hover{

    color:#fff;
    background-color: #ff01af;
    transition: 1s;
    cursor: pointer;
}


.showAniImg{

    width:50%;
    height:600px;
    float:left;
}
.animations::after
{
    content:'';
    display:block;
    clear:both;

}



.bgimage
{
    width:100%;
    height:100%;
   display: block;

}


@media (max-width: 750px) {
    .showAniImg{
    width:100%;


    }
    .showAniImg iframe
    {
        width:100% !important;
    }
.actualUpdate{
width:100%;
}

}