.Page
{
    min-height:300px;
    width:90%;
    border-top:1px solid rgb(186, 186, 186);
    margin-left: auto;
    margin-right: auto;
}
.Page h1, .Page h2
{
    text-align: center;
    color:rgb(113, 113, 113)

}
.categoryShop
{
    width:100%;
    min-height:100px;
    padding:30px;
    color:rgb(186, 186, 186);
    display: flex;

}

.categoryElement:hover{
    color:rgb(230, 82, 197);
    text-decoration: none;

}
.categoryElement
{
    width:15%;
    height:100%;
    margin-left:30px;
    cursor: pointer;
    text-decoration: none;

}
.categoryElement 
{text-decoration: none !important;
color:rgb(87, 86, 86) ;
font-weight: bold;}


.fade{
    width:200px;
    height: 200px;
    background: red;
    opacity:0;
}

.elementToFadeInAndOut {
    animation: fadeInOut 4s linear forwards;
}

.mobileButtonMenu
{
    display: none;

}
.openMenuPhone
{display: none;}
@keyframes fadeInOut {
 0% { opacity:0; }
 50% { opacity:1; } 
 100% { opacity:0; } 
}
.menusBoth
{width:100%;
    top:0;
    left:0;
    z-index: 10;
}
.menusBothAdd
{
}
.prices:after, .addSrv:after {
    content:'';
    display:block;
    clear:both;
  }
.goUp{
    position:fixed;
    right:10px;
    bottom:10px;
    width:30px;
    height:30px;
    background-color: #ff01af;
    border-radius: 10px;
    padding:5px;
    text-align: center;
    line-height: 30px;;
    font-size:30px;
    border: solid white 2px;
}
.goUp:hover{
    cursor: pointer;
}
  #fotolustro{}

  .introductionMirror{
    width:60%;
    display:block;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;


  }
  .reviews2
  {
    margin-top:30px;

  }
  
  .menuForPhone
  {display:none;}



  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  @media (max-width: 750px) {
    .introductionMirror{
        width:90%;

    }
.categoryElement
{
    width:100%;
    height:60px;
    text-align: center;
    border-bottom:1px solid rgb(230, 34, 207);
    padding:0;
    padding-top:30px;
    margin:0;
    background-color: rgb(129, 129, 129);
    color:white;
    display: block;

}


.categoryShop{
    display: block;
    padding:0;
}
.mobileButtonMenu
{
    display: block;
    width:100%;
    height:50px;
    text-align: center;
    color:white;
padding-top:20px;
border-radius: 8px;
    background-color: rgb(234, 128, 215);
  
    
}
.mobileButtonMenu:hover{
    cursor: pointer;
    color:rgb(240, 33, 174)
}
.menusBoth
{display: none;
   
}
.menuForPhone{
    display: block;
position:fixed;
width:30px;
height:30px;
top:30px;
right:10px;
background-color: #ff01af;
border-radius: 10px;
padding:10px;
}
.openMenuPhone{
    position: fixed;
    display: block;
    z-index: 2000;
    background-color: rgba(0, 0, 0,0.8);
    top:0;
    left:0;
    right:0;
    bottom:0;
    animation-duration: 0.8s;
  animation-name: slidein;
  overflow-x: hidden;
  overflow-y: auto;}
.phoneMenuFirstBar
{
    text-align:right;
    padding:20px;

}
.phoneCategoryEl{
    color:#ff01af;
    font-size:large;
    width:100%; 
    min-height:50px;
    border-bottom: #ff01af solid 1px;

}
.phoneCategoryEl a {
width:100%; 
height:100%;
text-decoration: none;
color:#ff01af !important;
line-height: 50px;
font-weight: bold;
padding-left:50px;
;

}
.phoneMenuContent ul{
list-style-type: none !important;
width:100%;
padding:0;
}
  }
