.ProductElement
{float:left;
    width:30%;
    min-height:80px;
    flex-direction: column;
    padding:1%;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
    border:1px transparent solid ;
    color:rgb(65, 65, 65);

}




.ProductElement img
{
    
    width:100%;
    height:70%;
    border-radius: 1%;
}
.ProductElement div
{
    width:100%;
    height:30%;
}
.NameElement
{
    font-size:25px;

    font-weight: bold;

}
.PriceElement
{
    font-size:18px;
    text-align: right;
}
.ProductElement:hover{
    transition-duration: 1s;
    color:rgb(212, 35, 182)!important;
    background-color: aliceblue;
    border:1px rgb(216, 48, 213) solid ;
    border-radius: 10px;;

    
    }
   
    .mirrorimg{
        background-size: contain;
        background-position: center top;
        border-radius: 10px;


    }
   
    @media (max-width: 750px) {
    
        .ProductElement{
            width:100%;
        }
    }